{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h2> Are you sure you want to delete {{item.name}}? </h2>
<form action="#" method='post'>

    <button type="submit" class="btn btn-danger" id="submit">
        <span class="oi oi-trash" aria-hidden="true"></span> Delete
    </button>
    <a href="{{url_for('show_category_items', category_id = category_id)}}">
    <button type="button" class="btn btn-default">
        <span class="oi oi-x" aria-hidden="true"></span> Cancel
    </button>
    </a>
</form>
{% endblock %}
