{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="display-3">{{category.name}}</h1>
                <p>{{category.description}}</p>
            </div>
            <div class="col-2 ml-auto">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded"
                         src="{{creator.picture}}"
                         alt="Photo of the user that created this category">
                    <figcaption class="figure-caption text-center">
                        {{creator.name}}
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class='flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<div class="row">
    <div class="col">
        <h2>Items</h2>
    </div>
</div>
{% if items !=[] %}
<div class="row">
    {% for i in items %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{i.name}}</h4>
                <p class="card-text">{{i.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}